doctype html
html(lang="pt-br")
head
  meta(charset="UTF-8")
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  meta(http-equiv="X-UA-Compatible", content="ie=edge")
  <link rel="shortcut icon" href="https://estudiodigitalbocca.com.br/favicon.62d5048a.png" type="image/x-icon">
  <link rel="stylesheet" href="sass/edb.sass">
  title edb-parcel
body
  .container#app
    .card
      .card-topo
        img(src="images/top-card-480x320.jpg", alt="Topo do Card")
      .card-body
        h1 Lorem Card
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Error unde iste cum sit nihil ut commodi, dolorum quibusdam quo ab minima magni exercitationem facilis. Eius reprehenderit ullam ipsa corrupti iusto.
    div
      p.copy ©2019 - Estúdio Digital Bocca
  script(src="js/index.js")
